<section id="testimonials">
  <div class="container g-pt-80">
    <div class="heading-v14 text-center g-mb-60">
      <span class="heading-v14__block-name g-dp-block g-mb-20">Clientes</span>
      <h1 class="heading-v14__title font-main g-mb-60">Trabajan con nosotros</h1>
      <p class="heading-v14__text">Ellos confiaron en nuestra seriedad y compromiso.</p>
    </div>
  </div>
  <div class="container-fluid no-padding with-bg with-bg--4">
    <div class="color-overlay"></div>
    <div class="container content-md">
      <!-- Owl Carousel v2-->
      <div class="owl2-carousel-v2 owl-theme">
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/agrosuper.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/espn.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/izq.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/liqui.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/lider.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/molymex.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/portillo.png'%>" alt=""></a>
        </div>
      </div> <!-- End Owl Carousel v2-->
    </div>
  </div>
</section>
