<section id="gallery">
  <div class="container-fluid no-side-padding g-pt-100">
    <div class="heading-v14 text-center g-mb-60">
      <span class="heading-v14__block-name g-dp-block g-mb-20">Galeria</span>
      <h1 class="heading-v14__title font-main g-mb-60">Nuestros Trabajos</h1>
    </div>
    <!--=== Cube-Portfdlio ===-->
    <div class="cube-portfolio margin-bottom-20">
      <div class="content-xs g-pb-0">
        <div id="filters-container" class="cbp-l-filters-text content-xs">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> Todos </div>
          <div data-filter=".buidling" class="cbp-filter-item cbp-filter-item--1"> Cercos eléctricos </div>
          <div data-filter=".electricity" class="cbp-filter-item cbp-filter-item--2"> Video vigilancia </div>
          <div data-filter=".painting" class="cbp-filter-item cbp-filter-item--3"> Cierres perimetrales </div>
          <div data-filter=".plumbing" class="cbp-filter-item cbp-filter-item--4"> Servicio tecnico </div>
          <div data-filter=".construction" class="cbp-filter-item cbp-filter-item--5"> Construction </div>
        </div><!--/end Filters Container-->
      </div>

      <div id="grid-container" class="cbp-l-grid-fullWidth">
        <div class="cbp-item buidling">
          <a href="<%= image_url 'gallery/gallery1.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 1">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery1.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Building</span>
                  <div class="cbp-l-caption-title">Skyscraper</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item electricity">
          <a href="<%= image_url 'gallery/gallery2.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 2">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery2.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Electricity</span>
                  <div class="cbp-l-caption-title">Skyscraper</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item painting">
          <a href="<%= image_url 'gallery/gallery3.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 3">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery3.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Painting</span>
                  <div class="cbp-l-caption-title">House</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item buidling">
          <a href="<%= image_url 'gallery/gallery4.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 4">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery4.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Building</span>
                  <div class="cbp-l-caption-title">Offices</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item painting">
          <a href="<%= image_url 'gallery/gallery5.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 5">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery5.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Painting</span>
                  <div class="cbp-l-caption-title">Offices</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item electricity">
          <a href="<%= image_url 'gallery/gallery6.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 6">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery6.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Electricity</span>
                  <div class="cbp-l-caption-title">Skyscraper</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item painting">
          <a href="<%= image_url 'gallery/gallery7.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 7">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery7.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Painting</span>
                  <div class="cbp-l-caption-title">Skyscraper</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item buidling">
          <a href="<%= image_url 'gallery/gallery8.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 8">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery8.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Building</span>
                  <div class="cbp-l-caption-title">Skyscraper</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item buidling">
          <a href="<%= image_url 'gallery/gallery9.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 9">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery9.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Building</span>
                  <div class="cbp-l-caption-title">Skyscraper</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item plumbing">
          <a href="<%= image_url 'gallery/gallery10.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 10">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery10.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Plumbing</span>
                  <div class="cbp-l-caption-title">Skyscraper</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item construction">
          <a href="<%= image_url 'gallery/gallery11.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 11">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery11.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Construction</span>
                  <div class="cbp-l-caption-title">Recreation Center</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="cbp-item construction">
          <a href="<%= image_url 'gallery/gallery12.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 12">
            <div class="cbp-caption-defaultWrap">
              <img src="<%= image_url 'gallery/gallery12.jpg'%>" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignLeft">
                <div class="cbp-l-caption-body">
                  <span class="g-dp-block cbp-cat g-mb-10">Construction</span>
                  <div class="cbp-l-caption-title">House</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div><!--/end Grid Container-->
    </div>
    <!--=== End Cube-Portfdlio ===-->
  </div>
</section>
