<section id="services">
<!-- best services -->
<div class="container-fluid no-column-space">
  <div class="row">
    <div class="col-md-6">
      <div class="best-service best-service--1 text-center">
        <div class="valign__middle">
          <h2 class="best-service__title font-main g-mb-20">Cerco Eléctrico</h2>
          <p class="best-service__text g-mb-30">Sistema perimetral reactivo y defensivo.</p>
          <a href="#more-services" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Leer más</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="best-service best-service--2 text-center">
        <div class="valign__middle">
          <h2 class="best-service__title font-main g-mb-20">Videovigilancia</h2>
          <p class="best-service__text g-mb-30">Grabación permanente de videos, los cuales podrán ser monitoreados desde su celular.</p>
          <a href="#more-services" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Leer más</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="best-service best-service--3 text-center">
        <div class="valign__middle">
          <h2 class="best-service__title font-main g-mb-20">Cierres Perimetrales</h2>
          <p class="best-service__text g-mb-30">Soluciones en paños de rejas a medida, tanto industrial como domiciliaria.</p>
          <a href="#more-services" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Leer más</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="best-service best-service--4 text-center">
        <div class="valign__middle">
          <h2 class="best-service__title font-main g-mb-20">Servicio Técnico 24 Hrs.</h2>
          <p class="best-service__text g-mb-30">Contamos con atención 24x7, para sus urgencias o mantenciones.</p>
          <a href="#more-services" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Leer más</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end best services -->

<!-- services tab -->
<div class="container content-lg g-pb-90" id="more-services">
  <div class="heading-v14 text-center g-mb-100">
    <span class="heading-v14__block-name g-dp-block g-mb-20">Nuestros servicios</span>
    <h1 class="heading-v14__title font-main">¿Qué podemos hacer?</h1>
  </div>
  <!-- Tab v3 -->
  <div class="row tab-v3">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a href="#electric-fence" data-toggle="tab">
            <i class="g-mr-10 fa tab__fa fa-arrow-right"></i> Cerco Eléctrico
          </a>
        </li>
        <li>
          <a href="#cctv" data-toggle="tab">
            <i class="g-mr-10 fa tab__fa fa-arrow-right"></i> Videovigilancia
          </a>
        </li>
        <li>
          <a href="#closures" data-toggle="tab">
            <i class="g-mr-10 fa tab__fa fa-arrow-right"></i> Cierres Perimetrales
          </a>
        </li>
        <li class="last">
          <a href="#service247" data-toggle="tab">
            <i class="g-mr-10 fa tab__fa fa-arrow-right"></i> Servicio Técnico 24 Hrs.
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="electric-fence">
          <div class="row">
            <div class="col-sm-4 g-sm-mb-50">
              <img class="img-responsive g-mb-20" src="<%= image_url 'services/cerco-electrico-residencial.jpg'%>" alt="cerco-electrico-residencial">
              <h3 class="service__title font-main g-mb-10">Cerco Eléctrico Residencial</h3>
              <p class="service__text">
                Una solución efectiva para su hogar.
                <br>
                El Cerco Residencial Sheriff, es realmente es un escudo que disuade y evita el ingreso de intrusos a su propiedad.
                <br>
                También cuenta con un Sistema Electrónico de monitoreo que activará una sirena en caso de que alguien toque o trate de cortar la alambrada y un discador telefónico (opcional) que llamará hasta cinco números pre-programados. Además se utilizan carteles que advierten de la presencia del alto voltaje.
              </p>
            </div>

            <div class="col-sm-4 g-sm-mb-50">
              <img class="img-responsive g-mb-20" src="<%= image_url 'services/cerco-electrico-industrial.jpg'%>" alt="cerco-electrico-industrial">
              <h3 class="service__title font-main g-mb-10">Cerco Eléctrico Industrial</h3>
              <p class="service__text">
                Su Industria y sus activos protegidos de la mejor forma.
                <br>
                El Cerco Industrial Sheriff, se ha vuelto en una solución efectiva para proteger sus activos de intrusos, al no ser una corriente continua NO ES LETAL. El Sistema realmente es un escudo que disuade y evita el ingreso de intrusos a su industria o empresa. Adicionalmente cuenta con una batería que garantiza su funcionamiento ante eventuales cortes de suministro eléctrico.
              </p>
            </div>

            <div class="col-sm-4">
              <img class="img-responsive g-mb-20" src="<%= image_url 'services/cerco-electrico-agricola.jpg'%>" alt="cerco-electrico-agricola">
              <h3 class="service__title font-main g-mb-10">Cerco Eléctrico Agricola</h3>
              <p class="service__text">
                Proteja su Inversión Frutícola y Ganadera.
                <br>
                Los Cercos Agrícolas Sheriff, están enfocados en la protección de sus terrenos, ya sean Paltos - Almendros - Frutas - Verduras , etc. Evitando pérdidas de hasta un 50% anual, transformando el cerco eléctrico agricola en una inversión con excelentes resultados.
                <br>
                El sistema de cercos Agrícolas Sheriff es certificado por la normativa del SEC en Chile, cumpliendo de esta forma con todas las normativas necesarias para su seguridad.
              </p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade in" id="cctv">
          <div class="row">
            <div class="col-sm-4 g-sm-mb-50">
              <img class="img-responsive g-mb-20" src="<%= image_url 'services/videovigilancia-industrial.jpg'%>" alt="videovigilancia-industrial">
              <h3 class="service__title font-main g-mb-10">Videovigilancia Industrial</h3>
              <p class="service__text">
                Prevenga robos, vele por su Productividad.
                <br>
                Las industrias además de la vigilancia típica por robos o por comportamiento indebido, también pueden hacer uso de un sistema de televigilancia para comtrolar la productividad de sus empleados y de sus procesos, vigilancia de buen funcionamiento de su maquinaria o cualquier otra aplicación a la cual la compañía quiera tener vigilado, grabado y respaldado.
                <br>
                Servicios Sheriff ofrece lo último en sistemas de circuito cerrado de televisión para su uso en el mercado industrial, con el uso de sensores de imágenes en color y la óptica de precisión alojados en una variedad de recintos para satisfacer las demandas de su entorno. Nuestros sistemas se utilizan en una amplia variedad de aplicaciones industriales.
              </p>
            </div>

            <div class="col-sm-4 g-sm-mb-50">
              <img class="img-responsive g-mb-20" src="<%= image_url 'services/videovigilancia-comercial.jpg'%>" alt="videovigilancia-comercial">
              <h3 class="service__title font-main g-mb-10">Videovigilancia Comercial</h3>
              <p class="service__text">
                No espere más, tenga el control de su negocio.
                <br>
                Las empresas y el comercio en particular se ve constantemente amenza ya sea por comportamientos de externos como también por malos hábitos y comportamientos indeseables dentro de su misma empresa, tanto la supervisión, como la disuación puede ser generada por un sistema de vigilancia a medida para su empresa.
                <br>
                Sheriff ofrece una gran cantidad  de productos y soluciones para el comercio que van desde el control local de una tienda u oficina, hasta la integración de una red de control a nivel nacional orientados al robo y control de pérdidas.
              </p>
            </div>

            <div class="col-sm-4">
              <img class="img-responsive g-mb-20" src="<%= image_url 'services/videovigilancia-residencial.jpg'%>" alt="videovigilancia-residencial">
              <h3 class="service__title font-main g-mb-10">Videovigilancia Residencial</h3>
              <p class="service__text">
                Si desea vigilar grandes o pequeños espacios, ya sea por prevención, grabación o acciones específicas dentro de su hogar, no dude en contactar a nuestros ejecutivos. Le aseguramos que tendrá una solución a medida, para sus requerimientos, compruebe nuestra experiencia.
                <br>
                Sheriff, ofrece una amplia cantidad de soluciones para el hogar en diferentes proyectos a lo largo del país.
              </p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade in" id="closures">
          <div class="row">
            <div class="col-sm-4 g-sm-mb-50">
              <img class="img-responsive g-mb-20" src="<%= image_url 'services/cierre-perimetral-industrial.jpg'%>" alt="cierre-perimetral-industrial">
              <h3 class="service__title font-main g-mb-10">Cierres Perimetrales Industriales</h3>
              <p class="service__text"></p>
            </div>

            <div class="col-sm-4">
              <img class="img-responsive g-mb-20" src="<%= image_url 'services/cierre-perimetral-residencial.jpg'%>" alt="cierre-perimetral-residencial">
              <h3 class="service__title font-main g-mb-10">Cierres Perimetrales Residenciales</h3>
              <p class="service__text"></p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade in" id="service247">
          <div class="row">
            <div class="col-sm-4 g-sm-mb-50">
              <img class="img-responsive g-mb-20" src="<%= image_url 'services/servicio247-contratos.jpg'%>" alt="servicio247-contratos">
              <h3 class="service__title font-main g-mb-10">Contratos</h3>
              <p class="service__text"></p>
            </div>

            <div class="col-sm-4 g-sm-mb-50">
              <img class="img-responsive g-mb-20" src="<%= image_url 'services/servicio247-emergencias.jpg'%>" alt="servicio247-emergencias">
              <h3 class="service__title font-main g-mb-10">Emergencias</h3>
              <p class="service__text"></p>
            </div>

            <div class="col-sm-4">
              <img class="img-responsive g-mb-20" src="<%= image_url 'services/servicio247-mantenciones.jpg'%>" alt="servicio247-mantenciones">
              <h3 class="service__title font-main g-mb-10">Mantenciones</h3>
              <p class="service__text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Tab v3 -->
</div>
<!-- end services tab -->
</section>
