<section id="testimonials">
  <div class="container-fluid with-bg--3">
    <div class="content-lg">
      <div class="heading-v14 text-center g-mb-40">
        <span class="heading-v14__block-name g-dp-block g-mb-20">Testimonios</span>
        <h1 class="heading-v14__title font-main g-mb-60">¿Qué Dicen Nuestros Clientes?</h1>
        <p class="heading-v14__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <!-- Owl Carousel v1-->
      <div class="owl2-carousel-v1 owl-theme">
        <div class="item text-center g-pt-60">
          <div class="testi">
            <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi1.jpg'%>" alt="">
            <span class="testi__name g-dp-block">Simone Gomez</span>
            <span class="testi__company g-dp-block g-mb-30">Anderson industry</span>
            <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
            <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
          </div>
        </div>
        <div class="item text-center g-pt-60">
          <div class="testi">
            <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi2.jpg'%>" alt="">
            <span class="testi__name g-dp-block">Carla Harris</span>
            <span class="testi__company g-dp-block g-mb-30">HNN consultation corp</span>
            <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
            <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
          </div>
        </div>
        <div class="item text-center g-pt-60">
          <div class="testi">
            <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi3.jpg'%>" alt="">
            <span class="testi__name g-dp-block">Dianna Kimwealth</span>
            <span class="testi__company g-dp-block g-mb-30">Robo construction</span>
            <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
            <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
          </div>
        </div>
        <div class="item text-center g-pt-60">
          <div class="testi">
            <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi4.jpg'%>" alt="">
            <span class="testi__name g-dp-block">John Wellberg</span>
            <span class="testi__company g-dp-block g-mb-30">Solid iron corp</span>
            <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
            <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
          </div>
        </div>
        <div class="item text-center g-pt-60">
          <div class="testi">
            <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi5.jpg'%>" alt="">
            <span class="testi__name g-dp-block">Sarah Rahman</span>
            <span class="testi__company g-dp-block g-mb-30">South Conton architecture</span>
            <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
            <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
          </div>
        </div>
        <div class="item text-center g-pt-60">
          <div class="testi">
            <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi6.jpg'%>" alt="">
            <span class="testi__name g-dp-block">Derek Fineman</span>
            <span class="testi__company g-dp-block g-mb-30">Fineman construction company</span>
            <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
            <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
          </div>
        </div>
        <div class="item text-center g-pt-60">
          <div class="testi">
            <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi7.jpg'%>" alt="">
            <span class="testi__name g-dp-block">William Mountcon</span>
            <span class="testi__company g-dp-block g-mb-30">Mountcon brothers</span>
            <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
            <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
          </div>
        </div>
        <div class="item text-center g-pt-60">
          <div class="testi">
            <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi8.jpg'%>" alt="">
            <span class="testi__name g-dp-block">Cathy Bollak</span>
            <span class="testi__company g-dp-block g-mb-30">Simon/well company</span>
            <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
            <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
          </div>
        </div>
      </div> <!-- end Owl Carousel v1-->
    </div>
  </div>

  <div class="container-fluid no-padding with-bg with-bg--4">
    <div class="color-overlay"></div>
    <div class="container content-md">
      <!-- Owl Carousel v2-->
      <div class="owl2-carousel-v2 owl-theme">
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/agrosuper.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/espn.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/izq.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/liqui.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/lider.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/molymex.png'%>" alt=""></a>
        </div>
        <div class="item">
          <a href="#"><img class="client__img" src="<%= image_url 'clients/portillo.png'%>" alt=""></a>
        </div>
      </div> <!-- End Owl Carousel v2-->
    </div>
  </div>
</section>
