<main class="wrapper">
  <!-- Header -->
  <nav class="header one-page-header navbar navbar-default navbar-fixed-top construction-header one-page-nav-scrolling one-page-nav__fixed" data-role="navigation">
    <div class="container">
      <div class="menu-container page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#body">
          <img class="img-responsive" src="<%= image_url 'logo.png' %>" alt="Logo">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse g-pt-25 g-sm-pt-0">
        <div class="menu-container">
          <ul class="nav navbar-nav">
            <li class="page-scroll home">
              <a href="#body"><span data-hover="Home">Inicio</span></a>
            </li>
            <li class="page-scroll">
              <a href="#about">Nosotros</a>
            </li>
            <li class="page-scroll">
              <a href="#services">Servicios</a>
            </li>
            <!-- <li class="page-scroll">
              <a href="#projects">Recent projects</a>
            </li> -->
            <li class="page-scroll">
              <a href="#testimonials">Testimonios</a>
            </li>
            <li class="page-scroll">
              <a href="#gallery">Galleria</a>
            </li>
            <!-- <li class="page-scroll">
              <a href="#career">Career</a>
            </li> -->
            <li class="page-scroll g-sm-mb-20">
              <a href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- End Header -->

  <!-- Promo Block-->
  <section class="promo-section" id="intro">
    <div class="container-fluid no-column-space">
      <div class="row">
        <div class="col-sm-6">
          <div class="fullscreen-static-image1 fullheight promo-block">
            <div class="promo-block__content g-pr-50">
              <div class="text-right pull-right">
                <span class="promo__pretitle g-dp-block g-mb-20"></span>
                <h1 class="promo__title promo__title--right-bar g-pr-30 font-main g-mb-30">Su<br> Seguridad</h1>
                <!-- <a href="#" class="btn-u btn-u--construction trim">Leer más <i class="g-ml-10 fa btn-u__fa fa-arrow-left"></i></a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="fullscreen-static-image2 fullheight promo-block">
            <div class="promo-block__content g-pl-50">
              <div class="text-left pull-left">
                <span class="promo__pretitle g-dp-block g-mb-20"></span>
                <h1 class="promo__title g-pl-30 promo__title--left-bar font-main g-mb-30">Nuestro<br> Compromiso</h1>
                <!-- <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Leer más</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Promo Block -->

  <!-- About -->
  <section id="about">
    <div class="container-fluid no-padding with-bg with-bg--1">
      <div class="color-overlay"></div>
      <div class="container">
        <!-- call to action -->
        <div class=" row g-pt-20 g-pb-30">
          <div class="col-md-8 col-sm-12 col-md-offset-4">
            <div class="call-action-v1 call-action-v1-boxed">
              <div class="call-action-v1-box">
                  <div class="call-action-v1-in">
                      <h3 class="cta__title font-main">¿Necesita un presupuesto?</h3>
                      <p class="cta__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                  </div>
                  <div class="call-action-v1-in inner-btn page-scroll">
                      <a href="#contact" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Solicitelo</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="g-pt-70 g-pb-80">
        <div class="row">
          <div class="col-md-5 g-pt-30">
            <img class="img-responsive about__img g-mb-30" src="<%= image_url 'about/about2.jpg' %>" alt="">
            <h3 class="about__title font-main g-mb-20">Asegurando desde 1943</h3>
            <p class="about__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
          </div>
          <!-- Tabs -->
          <div class="col-md-7">
            <!-- Accordion v1 -->
            <div class="panel-group acc-v1 plus-toggle " id="accordion-1">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle g-pt-0" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                      <span class="icon-user tab__icon g-mr-10"></span> Quienes somos
                    </a>
                  </h4>
                </div>
                <div id="collapse-One" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>Anim pariatur cliche reprehenderit, 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                      <span class="icon-calendar tab__icon g-mr-10"></span> Nuestra historia
                    </a>
                  </h4>
                </div>
                <div id="collapse-Two" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Food truck quinoa nesciunt laborum eiusmod.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                      <span class="icon-settings tab__icon g-mr-10"></span> Nuestros servicios
                    </a>
                  </h4>
                </div>
                <div id="collapse-Three" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                      <span class="icon-diamond tab__icon g-mr-10"></span> Nuestros valores
                    </a>
                  </h4>
                </div>
                <div id="collapse-Four" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. nesciunt laborum eiusmod.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Accordion v1 -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About -->

  <!-- Our Services -->
  <section id="services">
    <!-- best services -->
    <div class="container-fluid no-column-space">
      <div class="row">
        <div class="col-md-6">
          <div class="best-service best-service--1 text-center">
            <div class="valign__middle">
              <h2 class="best-service__title font-main g-mb-20">Cerco Eléctrico</h2>
              <p class="best-service__text g-mb-30">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
              <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Leer más</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="best-service best-service--2 text-center">
            <div class="valign__middle">
              <h2 class="best-service__title font-main g-mb-20">Video Vigilancia</h2>
              <p class="best-service__text g-mb-30">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
              <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Leer más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="best-service best-service--3 text-center">
            <div class="valign__middle">
              <h2 class="best-service__title font-main g-mb-20">Cierres Perimetrales</h2>
              <p class="best-service__text g-mb-30">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
              <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Leer más</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="best-service best-service--4 text-center">
            <div class="valign__middle">
              <h2 class="best-service__title font-main g-mb-20">Servicio Técnico 24 Hrs.</h2>
              <p class="best-service__text g-mb-30">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
              <a href="#" class="btn-u btn-u--construction trim"><i class="g-mr-10 fa btn-u__fa fa-arrow-right"></i> Leer más</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container content-lg g-pb-90">
      <div class="heading-v14 text-center g-mb-100">
        <span class="heading-v14__block-name g-dp-block g-mb-20">Nuestros servicios</span>
        <h1 class="heading-v14__title font-main">¿Qué podemos hacer?</h1>
      </div>
      <!-- Tab v3 -->
      <div class="row tab-v3">
        <div class="col-sm-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="#planning" data-toggle="tab">
                <i class="g-mr-10 fa tab__fa fa-arrow-right"></i> Cerco Eléctrico
              </a>
            </li>
            <li>
              <a href="#documentation" data-toggle="tab">
                <i class="g-mr-10 fa tab__fa fa-arrow-right"></i> Video Vigilancia
              </a>
            </li>
            <li>
              <a href="#materials" data-toggle="tab">
                <i class="g-mr-10 fa tab__fa fa-arrow-right"></i> Cierres Perimetrales
              </a>
            </li>
            <li class="last">
              <a href="#exterior-d" data-toggle="tab">
                <i class="g-mr-10 fa tab__fa fa-arrow-right"></i> Servicio Tecnico 24 Hrs.
              </a>
            </li>
            <!-- <li class="last">
              <a href="#interior-d" data-toggle="tab">
                <i class="g-mr-10 fa tab__fa fa-arrow-right"></i> Interior Design
              </a>
            </li> -->
          </ul>
        </div>
        <div class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="planning">
              <div class="row">
                <div class="col-sm-4 g-sm-mb-50">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/cerco-residencial.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Residencial</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>

                <div class="col-sm-4 g-sm-mb-50">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/cerco-industrial.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Industrial</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>

                <div class="col-sm-4">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/cerco-agricola.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Agricola</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade in" id="documentation">
              <div class="row">
                <div class="col-sm-4 g-sm-mb-50">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service7.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Industrial</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>

                <div class="col-sm-4 g-sm-mb-50">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service8.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Comercial</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>

                <div class="col-sm-4">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service9.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Residencial</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade in" id="materials">
              <div class="row">
                <div class="col-sm-4 g-sm-mb-50">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service10.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Industriales</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>

                <div class="col-sm-4 g-sm-mb-50">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service4.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Agricolas</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>

                <div class="col-sm-4">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service1.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Residenciales</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade in" id="exterior-d">
              <div class="row">
                <div class="col-sm-4 g-sm-mb-50">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service17.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Contratos</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>

                <div class="col-sm-4 g-sm-mb-50">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service11.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Emergencias</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>

                <div class="col-sm-4">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service15.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Mantenciones</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>
              </div>
            </div>
            <!-- <div class="tab-pane fade in" id="interior-d">
              <div class="row">
                <div class="col-sm-4 g-sm-mb-50">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service2.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Saepe eveniet ut</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>

                <div class="col-sm-4 g-sm-mb-50">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service3.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">voluptate velit esse</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>

                <div class="col-sm-4">
                  <img class="img-responsive g-mb-20" src="<%= image_url 'services/service20.jpg'%>" alt="">
                  <h3 class="service__title font-main g-mb-10"><a href="#">Temporibus autem quibusdam</a></h3>
                  <p class="service__text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <!-- Tab v3 -->
    </div>
  </section>
  <!-- End Our Services -->

  <!-- Recent Projects -->

  <!-- End Recent Projects -->

  <!-- Testimonials -->
  <section id="testimonials">
    <div class="container-fluid with-bg--3">
      <div class="content-lg">
        <div class="heading-v14 text-center g-mb-40">
          <span class="heading-v14__block-name g-dp-block g-mb-20">Testimonios</span>
          <h1 class="heading-v14__title font-main g-mb-60">¿Qué Dicen Nuestros Clientes?</h1>
          <p class="heading-v14__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <!-- Owl Carousel v1-->
        <div class="owl2-carousel-v1 owl-theme">
          <div class="item text-center g-pt-60">
            <div class="testi">
              <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi1.jpg'%>" alt="">
              <span class="testi__name g-dp-block">Simone Gomez</span>
              <span class="testi__company g-dp-block g-mb-30">Anderson industry</span>
              <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
              <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
            </div>
          </div>
          <div class="item text-center g-pt-60">
            <div class="testi">
              <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi2.jpg'%>" alt="">
              <span class="testi__name g-dp-block">Carla Harris</span>
              <span class="testi__company g-dp-block g-mb-30">HNN consultation corp</span>
              <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
              <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
            </div>
          </div>
          <div class="item text-center g-pt-60">
            <div class="testi">
              <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi3.jpg'%>" alt="">
              <span class="testi__name g-dp-block">Dianna Kimwealth</span>
              <span class="testi__company g-dp-block g-mb-30">Robo construction</span>
              <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
              <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
            </div>
          </div>
          <div class="item text-center g-pt-60">
            <div class="testi">
              <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi4.jpg'%>" alt="">
              <span class="testi__name g-dp-block">John Wellberg</span>
              <span class="testi__company g-dp-block g-mb-30">Solid iron corp</span>
              <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
              <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
            </div>
          </div>
          <div class="item text-center g-pt-60">
            <div class="testi">
              <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi5.jpg'%>" alt="">
              <span class="testi__name g-dp-block">Sarah Rahman</span>
              <span class="testi__company g-dp-block g-mb-30">South Conton architecture</span>
              <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
              <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
            </div>
          </div>
          <div class="item text-center g-pt-60">
            <div class="testi">
              <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi6.jpg'%>" alt="">
              <span class="testi__name g-dp-block">Derek Fineman</span>
              <span class="testi__company g-dp-block g-mb-30">Fineman construction company</span>
              <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
              <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
            </div>
          </div>
          <div class="item text-center g-pt-60">
            <div class="testi">
              <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi7.jpg'%>" alt="">
              <span class="testi__name g-dp-block">William Mountcon</span>
              <span class="testi__company g-dp-block g-mb-30">Mountcon brothers</span>
              <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
              <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
            </div>
          </div>
          <div class="item text-center g-pt-60">
            <div class="testi">
              <img class="testi__img rounded-x" src="<%= image_url 'testimonials/testi8.jpg'%>" alt="">
              <span class="testi__name g-dp-block">Cathy Bollak</span>
              <span class="testi__company g-dp-block g-mb-30">Simon/well company</span>
              <i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
              <p class="testi__text">Mauris sodales tellus vel felis dapibus, sit amet porta nibh egestas. Sed dignissim tellus quis sapien sagittis cursus. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid no-padding with-bg with-bg--4">
      <div class="color-overlay"></div>
      <div class="container content-md">
        <!-- Owl Carousel v2-->
        <div class="owl2-carousel-v2 owl-theme">
          <div class="item">
            <a href="#"><img class="client__img" src="<%= image_url 'clients/agrosuper.png'%>" alt=""></a>
          </div>
          <div class="item">
            <a href="#"><img class="client__img" src="<%= image_url 'clients/espn.png'%>" alt=""></a>
          </div>
          <div class="item">
            <a href="#"><img class="client__img" src="<%= image_url 'clients/izq.png'%>" alt=""></a>
          </div>
          <div class="item">
            <a href="#"><img class="client__img" src="<%= image_url 'clients/liqui.png'%>" alt=""></a>
          </div>
          <div class="item">
            <a href="#"><img class="client__img" src="<%= image_url 'clients/lider.png'%>" alt=""></a>
          </div>
          <div class="item">
            <a href="#"><img class="client__img" src="<%= image_url 'clients/molymex.png'%>" alt=""></a>
          </div>
          <div class="item">
            <a href="#"><img class="client__img" src="<%= image_url 'clients/portillo.png'%>" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials -->

  <!-- Gallery -->
  <section id="gallery">
    <div class="container-fluid no-side-padding g-pt-100">
      <div class="heading-v14 text-center g-mb-60">
        <span class="heading-v14__block-name g-dp-block g-mb-20">Galeria</span>
        <h1 class="heading-v14__title font-main g-mb-60">Nuestros Trabajos</h1>
      </div>
      <!--=== Cube-Portfdlio ===-->
      <div class="cube-portfolio margin-bottom-20">
        <div class="content-xs g-pb-0">
          <div id="filters-container" class="cbp-l-filters-text content-xs">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> Todos </div>
            <div data-filter=".buidling" class="cbp-filter-item cbp-filter-item--1"> Cercos eléctricos </div>
            <div data-filter=".electricity" class="cbp-filter-item cbp-filter-item--2"> Video vigilancia </div>
            <div data-filter=".painting" class="cbp-filter-item cbp-filter-item--3"> Cierres perimetrales </div>
            <div data-filter=".plumbing" class="cbp-filter-item cbp-filter-item--4"> Servicio tecnico </div>
            <div data-filter=".construction" class="cbp-filter-item cbp-filter-item--5"> Construction </div>
          </div><!--/end Filters Container-->
        </div>

        <div id="grid-container" class="cbp-l-grid-fullWidth">
          <div class="cbp-item buidling">
            <a href="<%= image_url 'gallery/gallery1.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 1">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery1.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Building</span>
                    <div class="cbp-l-caption-title">Skyscraper</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="cbp-item electricity">
            <a href="<%= image_url 'gallery/gallery2.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 2">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery2.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Electricity</span>
                    <div class="cbp-l-caption-title">Skyscraper</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="cbp-item painting">
            <a href="<%= image_url 'gallery/gallery3.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 3">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery3.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Painting</span>
                    <div class="cbp-l-caption-title">House</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="cbp-item buidling">
            <a href="<%= image_url 'gallery/gallery4.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 4">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery4.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Building</span>
                    <div class="cbp-l-caption-title">Offices</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="cbp-item painting">
            <a href="<%= image_url 'gallery/gallery5.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 5">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery5.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Painting</span>
                    <div class="cbp-l-caption-title">Offices</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="cbp-item electricity">
            <a href="<%= image_url 'gallery/gallery6.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 6">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery6.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Electricity</span>
                    <div class="cbp-l-caption-title">Skyscraper</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="cbp-item painting">
            <a href="<%= image_url 'gallery/gallery7.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 7">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery7.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Painting</span>
                    <div class="cbp-l-caption-title">Skyscraper</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="cbp-item buidling">
            <a href="<%= image_url 'gallery/gallery8.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 8">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery8.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Building</span>
                    <div class="cbp-l-caption-title">Skyscraper</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="cbp-item buidling">
            <a href="<%= image_url 'gallery/gallery9.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 9">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery9.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Building</span>
                    <div class="cbp-l-caption-title">Skyscraper</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="cbp-item plumbing">
            <a href="<%= image_url 'gallery/gallery10.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 10">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery10.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Plumbing</span>
                    <div class="cbp-l-caption-title">Skyscraper</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="cbp-item construction">
            <a href="<%= image_url 'gallery/gallery11.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 11">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery11.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Construction</span>
                    <div class="cbp-l-caption-title">Recreation Center</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="cbp-item construction">
            <a href="<%= image_url 'gallery/gallery12.jpg'%>" class="cbp-caption cbp-lightbox" data-title="	custom title 12">
              <div class="cbp-caption-defaultWrap">
                <img src="<%= image_url 'gallery/gallery12.jpg'%>" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                    <span class="g-dp-block cbp-cat g-mb-10">Construction</span>
                    <div class="cbp-l-caption-title">House</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div><!--/end Grid Container-->
      </div>
      <!--=== End Cube-Portfdlio ===-->
    </div>
  </section>
  <!-- End Gallery -->

  <!-- Career -->

  <!-- End Career -->

  <!-- Contact -->
  <section id="contact">
    <div class="container content-lg">
      <div class="heading-v14 text-center g-mb-60">
        <span class="heading-v14__block-name g-dp-block g-mb-20">Contactenos</span>
        <h1 class="heading-v14__title font-main g-mb-60">Ponerse en contacto</h1>
      </div>

      <div class="row">
        <div class="col-md-6">
          <ul class="list-unstyled contact__table">
            <li class="contact__cell contact__cell--1 text-center">
              <ul class="list-unstyled">
                <li><span class=" icon-anchor contact-list__icon g-dp-block g-mb-30"></span></li>
                <li class="contact-list__item-1">Dirección</li>
                <li class="contact-list__item-2">Sit amet adipiscing</li>
              </ul>
            </li>
            <li class="contact__cell contact__cell--2 text-center">
              <ul class="list-unstyled">
                <li><span class=" icon-call-in contact-list__icon g-dp-block g-mb-30"></span></li>
                <li class="contact-list__item-1">Teléfono</li>
                <li class="contact-list__item-2">+56 22 333 4343</li>
              </ul>
            </li>
            <li class="contact__cell contact__cell--3 text-center">
              <ul class="list-unstyled">
                <li><span class="icon-envelope-open contact-list__icon g-dp-block g-mb-30"></span></li>
                <li class="contact-list__item-1">Email</li>
                <li class="contact-list__item-2">info@sheriff.cl</li>
              </ul>
            </li>
            <li class="contact__cell contact__cell--4 text-center">
              <ul class="list-unstyled">
                <li><span class="icon-earphones-alt contact-list__icon g-dp-block g-mb-30"></span></li>
                <li class="contact-list__item-1">Emergencias</li>
                <li class="contact-list__item-2">+56 9 1234 1234</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="form">
            <form action="#" method="post" id="sky-form3" class="sky-form contact-style">
              <fieldset class="contact__form-fieldset">
                <div class="row">
                  <div class="col-md-12 g-mb-10">
                    <div>
                      <input type="text" name="name" id="name" class="form-control contact__form-control" placeholder="Tu nombre">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 g-mb-10">
                    <div>
                      <input type="text" name="phone" id="phone" class="form-control contact__form-control" placeholder="Tu teléfono">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 g-mb-10">
                    <div>
                      <input type="text" name="subject" id="subject" class="form-control contact__form-control" placeholder="Asunto">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 g-mb-40">
                    <div>
                      <textarea rows="5" name="message" id="message" class="form-control contact__form-control g-textarea-noresize" placeholder="Mensaje"></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn-u btn-u--construction trim">
                      <i class="g-mr-20 fa btn-u__fa fa-arrow-right"></i> Enviar mensaje
                    </button>
                  </div>
                </div>
              </fieldset>

              <div class="message text-center">
                <i class="rounded-x fa fa-check"></i>
                <p>Tu mensaje fue enviado satisfactoriamente!</p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact -->

  <!-- Footer -->
  <footer class="footer">
    <div class="container-fluid no-padding with-bg with-bg--6">
      <div class="color-overlay"></div>
      <div class="container content-md">
        <div class="row">
          <div class="col-md-5 text-left text-sm-center g-sm-mb-20 g-pt-30">
            <p class="footer__text">&copy; 2017 All right reserved.<strong> Sheriff S. A.</strong> Desarollado por <strong>Almapase</strong></p>
          </div>
          <div class="col-md-2 text-center g-sm-mb-20 g-pt-20">
            <p class="footer__support">Servicio técnico 24/7 <br> <span class="footer__support--phone">+56 9 1234 1234</span></p>
          </div>
          <div class="col-md-5 text-right text-sm-center g-pt-25">
            <ul class="list-inline footer__list">
              <li><a href="#"><i class="icon-custom footer__fa icon-sm fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="icon-custom footer__fa icon-sm fa fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="icon-custom footer__fa icon-sm fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="icon-custom footer__fa icon-sm fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="icon-custom footer__fa icon-sm fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
</main>
